body {
    background-color: #004900;
    color: black;
    font-size: 18px;
}

a {
    color: #854f22;
    font-decoration: none;
}

a:link {
    color: #854f22;
    text-decoration:none;
}

a:visited {
    color: #854f22;
    text-decoration:none;
}

a:hover {
    color: white;
    text-decoration:underline;
}

a:active {
    color: #854f22;
    text-decoration:underline;
}

.header h1 {
    text-align: center;
    font-size: 30px;
    background-color: #00c140;
}

.sidebar {
    position: absolute;
    float:left;
    width: 20%;
    padding: 1.25% 0px 1.25% 1.25%;
    margin: 1.25% 0px 1.25% 1.25%;
    color: #854f22;
    background-color: #311600;
}

.sidebar h1 {
    text-align: left;
}

.sidebar ul {
    text-align:left;
    list-style-type: none;
    font-size: 20px;
    padding-left: 15px;
}

.sidebar li {
    padding: 5px;
}

.sidebar a {
    color: #854f22
    font-decoration: none;
}

.sidebar a:link {
    color: #854f22;
    text-decoration:none;
}

.sidebar a:visited {
    color: #854f22;
    text-decoration:none;
}

.sidebar a:hover {
    color: white;
    text-decoration:underline;
}

.sidebar a:active {
    color: #854f22;
    text-decoration:underline;
}

.main-container {
    position: relative;
    float: right;
    width: 70%;
    margin: 1.25%;
    background-color: #17992c;
}

.container {
    padding: 10px;
}

.container h1 {

}

.container h2 {

}

.container li {
    padding: 5px;
}

.header {
    background-color: #00c140;
    width: 100%;
    padding: 1px 0;    
}

.box-float {
    float: left;
    position: relative;
    width: 47%;
    padding: 0px 5px 10px 10px;
}

.box-main {
    float: left;
    position: relative;
}

.content {
    padding: 0 10px 10px 10px;
}
