* {
    padding: 0;
    margin: 0;
}

#mappt-viewer {
    
}

.mappt-panel-button {
    background-color: #AF562C;
}

.mappt-panel-button:hover {
    background-color: #BF673D;
}

.mappt-panel-button p {
    text-align: center;
    padding: 15px;
}

#mappt-panel-where > .mappt-panel-button {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

#mappt-panel-where > .mappt-panel-container {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

#mappt-panel-to > .mappt-panel-button {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

#mappt-panel-to > .mappt-panel-container {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.mappt-panel-container {
    background-color: #245828;
}